.media-container,
.media-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;
}

.media-title {
    display: flex;
    justify-content: space-between;
}

.image-container {
    cursor: pointer;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 1.33px solid var(--text);
    transition: background-color 0.12s linear;
    &:hover {
        background-color: var(--link_hover) !important;
    }
    &:active {
        background-color: var(--link_active) !important;
    }
    img {
        object-fit: contain;
        height: calc(100% - 2rem) !important;
        width: calc(100% - 2rem) !important;
        margin: 1rem;
        box-sizing: border-box;
    }
}

.caption-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.actions-container {
    display: flex;
    margin-top: 2rem;
    .action {
        margin-right: 1rem;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.zoom-button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.75rem;
    width: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        position: relative;
        z-index: 2;
        fill: var(--layer-contrast_text);
        path {
            fill: var(--layer-contrast_text);
        }
    }
    svg:nth-of-type(2) {
        position: absolute;
        z-index: 1;
        margin: 2px -2px 0 0;
        fill: var(--text);
        path {
            fill: var(--text);
        }
    }
}