.real-footer-container {
    background-color: var(--brand);
    min-height: 720px;
    height: calc(100vh - 2.75rem);
    max-height: calc(100vh - 2.75rem);
    display: flex;
    align-items: center;
    color: var(--layer-contrast_text);
    &.fullscreen{
        min-height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
    li:first-of-type {
        font-weight: 600;
    }
}