

.text-link {
    text-decoration: none;
    color: var(--link);
    display: inline-flex;
    transition: color 0.12s linear, fill 0.12s linear;
    svg {
      margin-left: 0.75rem;
      height: 1rem;
      width: 1rem;
    }
    svg, svg path {
      fill: var(--link);
    }
    &:hover {
      color: var(--link_hover);
      svg, svg path {
        fill: var(--link_hover);
      }
    }
    &:active {
      color: var(--link_active);
      svg, svg path {
        fill: var(--link_active);
      }
    }
    &:focus {
      outline: 1.33px solid var(--link);
      outline-offset: 1px;
      outline-style: dashed;
    }
  }
  
  .text-link-white {
    transition: color 0.12s linear, fill 0.12s linear;
    text-decoration: none;
    color: var(--layer-contrast_text);
    display: inline-flex;
    svg {
      margin-left: 0.75rem;
      height: 1rem;
      width: 1rem;
    }
    svg, svg path {
      fill: var(--layer-contrast_text);
    }
    &:hover {
      color: var(--layer-contrast_hover);
      svg, svg path {
        fill: var(--layer-contrast_hover);
      }
    }
    &:active {
      color: var(--layer-contrast_active);
      svg, svg path {
        fill: var(--layer-contrast_active);
      }
    }
    &:focus {
      outline: 1.33px solid var(--layer-contrast_text);
      outline-offset: 1px;
      outline-style: dashed;
    }
  }
  
  .disabled {
    cursor: not-allowed;
    text-decoration: line-through;
    color: var(--text);
    &:hover, &:active, &:focus {
      color: var(--text);
    }
    &:focus {
      outline: 0;
    }
  }